@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

.telaInicial {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    /* Não tô conseguindo deixar a imagem no tamanho correto */
}

.logotipo {

    position: fixed;
    left: 100px;
    top: 41px;

    width: 169px;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logotipo img {
    width: 45px;
    height: 45px;
}

.logotipo h2 {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}

.cadastro {
    position: relative;
    width: 513px;
    height: 781px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;

    font-family: 'Rubik', sans-serif;

}

h1 {
    /* margin-top: 61px; */
    
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #7978D9;
}

form {
    width: 450px;

    margin-top: 42px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

label{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 8px;
    
    color: #484848;
}

input{
    width: 449px;
    height: 63px;
    
    padding: 15px;
    border: 1px solid #555555;
    box-sizing: border-box;
    border-radius: 5px;

    margin-bottom: 31px;
}

button {
    position: static;
    width: 449px;
    height: 49px;
    left: 463px;
    top: 148px;

    display: flex;
    align-items: center;
    justify-content: center;    

    background: #7978D9;
    border-radius: 5px;

    color: #FFFFFF;
}

a {
    width: 215px;
    height: 17px;

    margin-top: 12px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    text-align: center;
    text-decoration: none;
    
    color: #7B61FF;
}